<div class="container">
  <div class="row" style="padding-top: 15px;">
    <div class="col-sm-1 link" routerLink="/tasks">
      <img src="../../assets/checklist_106575.png"width="60px">
    </div>
    <div class="col-sm link"  routerLink="/tasks">
      <h1 class="mb-7">ToDo List App</h1>
    </div>
    <div class="col-sm-4 text-right" >
      <span  routerLink="add" class="h5 link">
        <img src="../../assets/logo.svg" alt="logo"/>
        Add new task
    </span>
    </div>
  </div>
  <router-outlet></router-outlet>
  <task-list [taskList]="taskList" (removeTask)="removeTask($event)"></task-list>
</div>
