<div class="container">
  <div class="row" style="padding-top: 15px;">
    <div class="col-sm-1">
      <img src="../../assets/checklist_106575.png"width="60px">
    </div>
    <div class="col-sm">
      <h1 class="mb-3">ToDo List App</h1>
    </div>
  </div>

  <div class="container p-3 my-3 border">

    <form [formGroup]="taskForm" (ngSubmit)="addTask()" (keyup.enter)="addTask()">
      <div class="form-row">
        <div class="col">
          <label for="title">Title</label>
          <input type="title" formControlName="title" class="form-control" placeholder="Title " id="title">
        </div>
        <div class="col">
          <label for="info">Description</label>
          <textarea type="info" formControlName="description" class="form-control"
            placeholder="Description of this task " rows="3" id="info"></textarea>
        </div>
      </div>
      <div class="form-row text-center">
        <button type="submit" class="center btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <task-list [taskList]="taskList" (removeTask)="removeTask($event)"></task-list>

</div>
<router-outlet></router-outlet>