<div class="container pxy-3 my-3 border">
  <div class="row justify-content-center align-items-center h4">
    Creating new Task
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="addTask()" (keyup.enter)="addTask()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="title" formControlName="title" name="title" class="form-control" placeholder="Title " id="title"
               required>
        <div *ngIf="taskForm.controls['title'].invalid && (taskForm.controls['title'].dirty)" class="alert">
          <div *ngIf="taskForm.controls['title'].errors?.['required']">
            Title is a mandatory field
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="info" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea type="info" formControlName="description" class="form-control" placeholder="Description of this task "
                  rows="3" id="info" required></textarea>
        <div *ngIf="taskForm.controls['description'].invalid && (taskForm.controls['description'].dirty)" class="alert">
          <div *ngIf="taskForm.controls['description'].errors?.['required']">
            Title is a mandatory field
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row justify-content-center align-items-center">
      <div *ngIf="taskForm.errors?.['valuesAreEqual']" class="alert">
        Title and Description must not match (doesnt makes sense.. it is just for training :P)
      </div>
    </div>
    <div class="form-group row justify-content-center align-items-center">
      <button type="submit" class="btn btn-outline-success" [disabled]="!taskForm.dirty || taskForm.invalid ">Submit
      </button>
    </div>
  </form>
</div>
