.form-group{
    margin: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  background-color: white;
  color: #820000;
  border: 0px;
  padding: 0px;
}
